footer {
    background-color: slategray;
    .wrapper {
        button {
            display: block;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}