html {
    font-size: 125%; /*20 px*/
}

body {
    font-family: $bodyFont;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

header,
section {
    height: 100vh;
}

h1, 
h2,
a,
button {
    font-family: $headerFont;
}

h1 {
    font-size: 2rem;
    color: white;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 30px 0;
}

.anchorButton {
    @include anchorButtonDecor();
}

/* Form Styling */
fieldset {
    border: none;
}

input[type="radio"] {
    opacity: 0;
}

input[type="radio"] + label {
    position: relative;
    cursor: pointer;
}

input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 5px;
    border-radius: 50%;
    border: 1px solid #000;
    width: 18px;
    height: 18px;
}

input[type=radio]:checked+label::before {
    background-color: black;
}

input[type="radio"]:focus + label::before {
    box-shadow: 0 0px 8px $colourOne;
    border: 3px solid $colourOne;
}

p.error {
    margin-top: 20px;
}

button {
    cursor: pointer;
}




