html {
    font-size: 125%; /*20 px*/
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

header,
section:not(.takeQuizAgain) {
    height: 100vh;
}

h1, 
h2,
a,
button {
    font-family: 'Abril Fatface', cursive;
}

h1 {
    font-size: 2rem;
    color: white;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anchorButton {
    @include buttonDecor();
}

fieldset {
    border: none;
}

input[type=radio] {
    appearance: none;
}

input[type=radio]+label::before {
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
    width: 15px;
    height: 15px;
}

input[type=radio]:checked+label::before {
    background-color: black;
}

p.error {
    margin-top: 20px;
}




