header {
    background-image: linear-gradient(rgba(160, 109, 90, 0.4)), url(../assets/ian-dooley-3NCA3tbaE5I-unsplash-medium.jpg);
    /* Photo by Ian Dooley on Unsplash */
    background-size: cover;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


