@mixin buttonStyles() {
    padding: 15px 25px;
    display: inline-block;
    border-radius: 8px;
    font-family: $headerFont;
}

@mixin buttonColours() {
    border: $colourTwo solid 2px;
    background-color: $colourOne;
    color: $colourFive;
}

@mixin imageHoverFocus () {
    transform: scale(1.07);
    transition: transform 0.4s;
    border: $colourOne 3px solid;
}

@mixin imageSelected() {
    transform: scale(1.07);
    border: #000 solid 3px;
}