section.questionFour {
    display: flex;
    background-image: linear-gradient(rgba(78, 205, 196, 0.6)), url(../assets/margo-brodowicz-KZHhnb6XsQI-unsplash.jpg); /* Photo by Margo Brodowicz on Unsplash */
    background-size: cover;
    background-position: top;
    fieldset {
        padding: 25px;
        border: #000 double 5px;
        ul li {
            margin: 35px 0;
        }
    }
}
