section.questionTwo {
    display: flex;
    color: $colourFive;
    fieldset {
        padding: 25px;
        border: $colourFive double 5px;
        ul li {
            margin: 35px 0;
        }
    }
}
