section.questionTwo {
    display: flex;
    background-color: $colourTwo;
    background-size: cover;
    background-position: center;
    color: $colourFive;
    fieldset {
        padding: 50px;
        border: $colourFive double 5px;
        ul li {
            margin: 20px 0;
        }
    }
    h2 {
        text-align: center;
    }
}
