section.questionOne {
    display: flex;
    background-color: $backgroundColour;
    ul {
        display: flex;
        li {
            margin: 0 20px;
        }
    }
    
}

section.questionOne input[type=radio] ~ div:hover,
section.questionOne input[type=radio]:focus ~ div {
    @include imageHoverFocus;
}

section.questionOne input[type=radio]:checked ~ div {
    @include imageSelected;
}





