html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Bittersweet */
/* Midnight Green Eagle Green */
/* Medium Turquoise */
/* Naples Yellow */
/* Mint Cream */
html {
  font-size: 125%;
  /*20 px*/
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

header {
  height: 100vh;
}

header,
section {
  padding: 50px 0;
}

h1,
h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
  color: white;
}

.questionOne,
.questionThree,
.results {
  background-color: #F7FFF7;
}

.questionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p:not(footer p) {
  margin: 30px 0;
}

.anchorButton,
button {
  padding: 15px 25px;
  display: inline-block;
  border-radius: 8px;
  font-family: "Abril Fatface", cursive;
  border: #1A535C solid 2px;
  background-color: #FF6B6B;
  color: #F7FFF7;
  margin: 20px 0;
  cursor: pointer;
}

.anchorButton:hover, .anchorButton:focus,
button:hover,
button:focus {
  border: #000 solid 3.5px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Form Styling */
fieldset {
  border: none;
}

input[type="radio"] {
  opacity: 0;
}

input[type="radio"] + label {
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 5px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: #000 solid 1px;
}

input[type=radio]:checked + label::before {
  background-color: #FF6B6B;
}

input[type="radio"]:focus + label::before {
  border: 3px solid #FF6B6B;
}

p.error {
  margin-top: 20px;
  color: #FF6B6B;
}

.questionOne fieldset,
.questionThree fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerParent .containerChild {
  width: calc(275px - 30px);
  margin: 0 15px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left bottom, from(white), to(rgba(26, 83, 92, 0.68))), url(../assets/harley-davidson-56R8TzG7Lzc-unsplash.jpg);
  background-image: linear-gradient(to bottom left, white, rgba(26, 83, 92, 0.68)), url(../assets/harley-davidson-56R8TzG7Lzc-unsplash.jpg);
  /* Photo by Ian Dooley on Unsplash */
  background-size: cover;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header p {
  position: relative;
  top: 110px;
}

.startQuiz {
  color: #FFF;
  position: absolute;
  bottom: 30px;
  font-size: 4.5rem;
  -webkit-animation: bounce infinite ease 2s;
          animation: bounce infinite ease 2s;
}

.startQuiz :hover,
.startQuiz :focus {
  color: #1A535C;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

section.questionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.questionOne input[type=radio] ~ div:hover,
section.questionOne input[type=radio]:focus ~ div {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  border: #FF6B6B 3px solid;
}

section.questionOne input[type=radio]:checked ~ div {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  border: #000 solid 3px;
}

section.questionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1A535C;
  background-size: cover;
  background-position: center;
  color: #F7FFF7;
}

section.questionTwo fieldset {
  padding: 25px;
  border: #F7FFF7 double 5px;
}

section.questionTwo fieldset ul li {
  margin: 35px 0;
}

section.questionThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.questionThree input[type=radio] ~ div:hover,
section.questionThree input[type=radio]:focus ~ div {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  border: #FF6B6B 3px solid;
}

section.questionThree input[type=radio]:checked ~ div {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  border: #000 solid 3px;
}

section.questionFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(78, 205, 196, 0.6))), url(../assets/margo-brodowicz-KZHhnb6XsQI-unsplash.jpg);
  background-image: linear-gradient(rgba(78, 205, 196, 0.6)), url(../assets/margo-brodowicz-KZHhnb6XsQI-unsplash.jpg);
  /* Photo by Margo Brodowicz on Unsplash */
  background-size: cover;
  background-position: top;
}

section.questionFour fieldset {
  padding: 25px;
  border: #000 double 5px;
}

section.questionFour ul li {
  margin: 35px 0;
}

section.results {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.results .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle {
  visibility: hidden;
}

footer {
  background-color: #1A535C;
  text-align: center;
  color: #FFF;
  padding: 15px 0;
  margin-top: 20px;
}

footer a {
  color: #FF6B6B;
}

footer a:hover, footer a:focus {
  text-decoration: underline;
  color: #FFF;
}
