html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Mint Cream */
/* Bittersweet */
/* Midnight Green Eagle Green */
/* Medium Turquoise */
/* Naples Yellow */
html {
  font-size: 125%;
  /*20 px*/
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

header,
section {
  height: 100vh;
}

h1,
h2,
a,
button {
  font-family: "Abril Fatface", cursive;
}

h1 {
  font-size: 2rem;
  color: white;
}

.questionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  margin: 30px 0;
}

.anchorButton {
  padding: 15px 25px;
  display: inline-block;
  border-radius: 8px;
  border: black solid 2px;
}

/* Form Styling */
fieldset {
  border: none;
}

input[type="radio"] {
  opacity: 0;
}

input[type="radio"] + label {
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  width: 18px;
  height: 18px;
}

input[type=radio]:checked + label::before {
  background-color: black;
}

input[type="radio"]:focus + label::before {
  -webkit-box-shadow: 0 0px 8px #FF6B6B;
          box-shadow: 0 0px 8px #FF6B6B;
  border: 3px solid #FF6B6B;
}

p.error {
  margin-top: 20px;
}

button {
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 26, 8, 0.68))), url(../assets/ian-dooley-3NCA3tbaE5I-unsplash-medium.jpg);
  background-image: linear-gradient(rgba(44, 26, 8, 0.68)), url(../assets/ian-dooley-3NCA3tbaE5I-unsplash-medium.jpg);
  /* Photo by Ian Dooley on Unsplash */
  background-size: cover;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.startQuiz {
  padding: 15px 25px;
  display: inline-block;
  border-radius: 8px;
  border: black solid 2px;
  color: white;
  background-color: none;
  border: white solid 3px;
  position: absolute;
  bottom: 120px;
}

section.questionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F7FFF7;
}

section.questionOne ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.questionOne ul li {
  margin: 0 20px;
}

section.questionOne input[type=radio] ~ div:hover,
section.questionOne input[type=radio]:focus ~ div {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  border: #FF6B6B 3px solid;
}

section.questionOne input[type=radio]:checked ~ div {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  border: #FF6B6B solid 3px;
}

section.questionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6))), url(../assets/dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.6)), url(../assets/dino-reichmuth-A5rCN8626Ck-unsplash.jpg);
  /* Photo by Dino Reichmuth on Unsplash */
  background-size: cover;
  background-position: center;
}

section.questionTwo fieldset {
  border: solid black 3px;
}

section.questionTwo fieldset ul li {
  margin: 20px 0;
}

section.questionTwo h2 {
  text-align: center;
}

section.questionThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.questionThree ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.questionThree ul li {
  margin: 0 15px;
}

section.questionThree input[type=radio] ~ div:hover,
section.questionThree input[type=radio]:focus ~ div {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  border: #FF6B6B 3px solid;
}

section.questionThree input[type=radio]:checked ~ div {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  border: #FF6B6B solid 3px;
}

section.questionFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6))), url(../assets/margo-brodowicz-KZHhnb6XsQI-unsplash.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.6)), url(../assets/margo-brodowicz-KZHhnb6XsQI-unsplash.jpg);
  /* Photo by Margo Brodowicz on Unsplash */
  background-size: cover;
  background-position: top;
}

section.questionFour fieldset {
  border: solid black 3px;
}

section.questionFour h2 {
  text-align: center;
}

section.questionFour ul li {
  margin: 30px 0;
}

section.results {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.results .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle {
  visibility: hidden;
}

footer {
  background-color: slategray;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper button {
  display: block;
}
